name: Daily Cron

on:
  # schedule:
  #   # 0:00 UTC = 9:00 JST
  #   - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  run-cron:
    runs-on: ubuntu-latest

    environment: production

    steps:
      - name: Call cron endpoint
        run: |
          curl -X POST \
            -H "x-api-key: ${{ secrets.API_KEY }}" \
            https://stock-info-notificator.onrender.com/schedule
