name: Daily Cron

on:
  schedule:
    # 0:00 UTC = 9:00 JST
    - cron: "* * * * *"
  workflow_dispatch:

jobs:
  run-cron:
    runs-on: ubuntu-latest
    
    environment: production

    steps:
      - name: Call Render cron endpoint (GET /)
        run: |
          curl -X GET https://stock-info-notificator.onrender.com/
      - name: Call Render cron endpoint (POST /schedule)
        run: |
          curl -X POST \
            -H "x-api-key: ${{ secrets.API_KEY }}" \
            https://stock-info-notificator.onrender.com/schedule
